
#Ebene_3{

    width: 450px;
    height: 350px;
}

.cls-9 {
        stroke: #000;
}

.cls-9, .cls-8 {
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 10px;
      }

.cls-8 {
        fill: #a20d46;
        stroke: #fbee6d;
      }

.cls-8:hover{
    transition: all 0.5s;
    transform: translate(5px);
}

.bw_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-top: 100px;
}

.flex-item-1{
    order: 1;
}

.flex-item-2{
    order: 2;
}

.flex-item-3{
    order: 3;
    margin-bottom: 100px;
}

.yt_video{
    display: flex;
    
    justify-content: center;
    
}

#bw_video{
    width: 150px;
    height: 200px;
}

/*SECTION - BIO Label */

#Bio_Label{
    width: 450px;
    height: 350px;
}

      .cls-10 {
        fill: #fbee6d;
      }

      .cls-20 {
        fill: #a20d46;
      }

      .cls-30 {
        fill: #000;
      }
      #Gelbe_Sterne:hover{
        transition: all 0.5s;
        transform: translate(5px);
    }

    #Bio_Label:hover{
        transition: all 4.0s;
        transform: rotate(20deg) ;
    }

    /* #Roter_Hintergrund:hover + #Gelbe_Sterne .star {
        animation: moveStars 1s;
      }
      
      @keyframes moveStars {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(10px, 10px);
        }
      } */

      /*!SECTION Traube */

#Traube{
    width: 450px;
    height: 350px;
}

#Traube:hover{
    /* transition: all 3.0s;
    transform: rotate(20deg) ; */

    animation: bewegeWein 3.0s;
}

@keyframes bewegeWein {
    0% {
      transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

        .cls-11 {
          stroke-width: 3px;
        }
  
        .cls-11, .cls-12, .cls-13, .cls-14, .cls-15 {
          stroke-linecap: round;
          stroke-miterlimit: 10;
        }
  
        .cls-11, .cls-12, .cls-13, .cls-15 {
          stroke: #000;
        }
  
        .cls-11, .cls-13, .cls-14, .cls-15 {
          fill: none;
        }
  
        .cls-12 {
          fill: #a20d46; /*TODO - hier kann man nochmal bei illustrator nachmalen*/
        }

        .cls-12:hover{
          /* transition: all 0.5s;
          transform: rotate(40deg);  ich würde gerne die drehen lassen, wie bei den Flaschen */ 
        }
  
        .cls-12, .cls-14, .cls-15 {
          stroke-width: 5px;
        }
  
        .cls-13 {
          stroke-width: 4px;
        }
  
        .cls-14 {
          /* stroke: #fbee6d; */
          fill: #a20d46;
        stroke: #fbee6d;
        }

        .cls-14:hover{
            transition: all 0.5s;
            transform: translate(5px);
        }
