
#Ebene_3{

    width: 400px;
    height: 250px;
}

.cls-9 {
        stroke: #000;
}

.cls-9, .cls-8 {
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 10px;
      }
.cls-8 {
        stroke: #fbee6d;
      }
    