/* Footer CSS */

footer{
    background-color: #1d1d1b;
    color: white;
    text-align: center;
}

hr{
    border: 0px;
    width: 60%;
    height: 2px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),goldenrod,rgba(0,0,0,0));
}