/* Header CSS */

header{
    /* nav-links in die Mitte */
    justify-content: center;
    
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #1d1d1b;
}

header a{
    /* Nicht unterstrichen */
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
    transition: all 0.5s ease;
}

header a:hover{
    color: goldenrod;
    text-decoration: overline;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

nav{
    background-color: #1d1d1b;
    margin-left: 100px;
    margin: 0 auto;
}

#logo{
    background-color: #1d1d1b;
}

