*{
    font-family: Futura;
}

body{
    background-color: rgb(249, 234, 225);
}

nav{
    
}

#subtitle{
    font-family: Copperplate;
}

div{

    margin: -5px;
    background-color: rgb(137, 27, 60);
    padding-bottom: 5px;
}

footer{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}