/* Main-CSS */

@import "slider.css";
@import "quiz.css";

@import "fonts.css";
@import "var.css";
@import "logo.css";
@import "header.css";

@import "bw.css";
@import "sortiment.css";
@import "form.css";
@import "footer.css";

*, html, body{
    scroll-behavior: smooth;

    scroll-padding-top: 8rem; /* Abstand zwischen navbar und der Section */

    /* Um Nav-bar über den ganzen Bildschirm verläuft */
    margin: 0;
    padding: 0;
}

body{
    /* Hintergrund Farbe */
    background-color: #a20d46;
    /* Lässt die Seite über den Ganzen Bilschirm strecken */
    /* margin: 0; */
}

section{
    padding: 50px;
}

.section_2{
    padding: 50px;
    background-color:rgb(137, 27, 60);
}

#main-pic{
    width: 100%;
    height: 800px;
}

button{
    color: black;
}

/*NOTE - Unterstrichener Effekt */
h2 {
    margin-bottom: 20px;

    text-align: center;
    text-decoration: none;
    
    background-image: linear-gradient(0deg,#ffffff,#2d3047); /* Hintergrund-Farbe */
    background-repeat: no-repeat; /* Nur 1 Strich */
    background-size: 20% 3px; /* Die Länge und Breite des Hintergrunds*/
    color: #ffffff; /* Farbe */
    transition: background-size .2s,background-position 0s .2s; /* Übergang bzw. Bewegung des Hintergrunds*/
    }

h2:hover {
    background-size: 25% 1px;
}

h2, h2:hover {
    background-position: 50% 100%;
    }

h3{
    text-align: center;
    text-decoration: underline;
}

input{
    width: auto;
}

#welcome-btn{
    color: white;
}

#welcome-btn svg{
    transition: transform 0.3s ease;
}

#welcome-btn:hover svg{
    transform: translateY(15px);
}

iframe{
    border-radius: 10px;
    border-style: none;
}

iframe:hover{
    transition: 0.8s;
    border: 2px #fbee6d solid;
}
#hashtag{
    text-align: center;
    font-size: 50px;
}

.bi-chevron-double-down{
    margin-top: -250px;    
}

/* Responsive */

/* label.menu-toggle-icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: ;

} */