@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


*{
    font-family: 'Jost', sans-serif;
    color: white;
}

body{
    background-color: rgb(249, 234, 225);
}

nav{
    background-color: rgb(137, 27, 60);
}

#subtitle{
    font-family: Copperplate;
}

div{

    margin: -5px;
    background-color: rgb(137, 27, 60);
    padding-bottom: 5px;
}

footer{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}

button{
    color: black;
}