/* Hier werden die Farben-Variablen angegeben */

/* Farben */
:root{
    --FarbeRot:#a20d46;
    --FarbeDunkelRot:#6d0b2f;
    --FarbeSchwarz: #1d1d1b;

    --FarbeGelb: #fbee6d;

    --FarbeWeiss: rgb(249, 234, 225);
}